.header-internal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
}

.header-internal > .sobre{
    margin-left: auto;
    margin-right: 10px;
}