.input{
    display: none;
}

.label::before{
    content: "";
    display: inline-block;
    border: 3px solid var(--color-fourth);
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}
